
ion-title{
  text-align: center;
  background: rgb(136, 255, 0);
}

ion-row{
  margin-top: 10%;
  background: red;
}
ion-card{
  width: 120PX;
  height: 100PX;
}

ion-card-title{
  font-size: 12px;
}