<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
  <ion-row>
    <ion-col>
      <ion-card>

        <ion-card-header>
          <ion-card-title>REGISTRAR</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>

        <ion-card-header>
          <ion-card-title >FOTOS</ion-card-title>
        </ion-card-header>
      </ion-card>
      
    </ion-col>
    <ion-col>
      <ion-card>

        <ion-card-header>
          <ion-card-title>MUSICA</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>

        <ion-card-header>
          <ion-card-title>POKE</ion-card-title>
        </ion-card-header>
      </ion-card>
      
    </ion-col>
  </ion-row>
    
</ion-content>
    


 